[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "flash_attention_ipu/demo"]
	path = flash_attention_ipu/demo
	url = https://github.com/karpathy/nanoGPT
